{% extends "base.html" %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <!-- Now, Left and Center parts reflect page title and page links, let's slide them -->
    <div class="center sliding">发布信息</div>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="content-block">
    <div class="content-block-title">请输入物品相关信息</div>
  <form class="list-block" method="post" enctype="multipart/form-data" action="/found/form">
    <ul>
      <li>
        <div class="item-content">
         <div class="item-inner">
           <div class="item-title label">方式</div>
           <div class="item-input">
             <select id="Type" name="Type">
                 <option value="0">寻物</option>
                 <option value="1">招领</option>
             </select>
           </div>
         </div>
       </div>
      </li>
      <li>
        <div class="item-content">
         <div class="item-inner">
           <div class="item-input">
            <input type="text" id="Time" name="Time" required="required" placeholder="丢失或者拾获的时间">
           </div>
         </div>
       </div>
      </li>
      <li>
        <div class="item-content">
         <div class="item-inner">
           <div class="item-input">
            <input type="text" id="Place" name="Place" required="required" placeholder="丢失或者拾获的地点">
           </div>
         </div>
       </div>
      </li>
      <li>
        <div class="item-content">
         <div class="item-inner">
           <div class="item-input">
            <input type="text" id="ContactWay" name="ContactWay" required="required" placeholder="写下您的联系方式">
           </div>
         </div>
       </div>
      </li>
      <li>
        <div class="item-content">
         <div class="item-inner">
           <div class="item-title label">照片</div>
           <div class="item-input">
            <input type="file" id="File" name="form_file" required="">
           </div>
         </div>
       </div>
      </li>
      <li>
        <div class="item-content">
         <div class="item-inner">
           <div class="item-input" style="position:relative;">
            <textarea name="Content" placeholder="写下您对物品的大致描述(选填)"></textarea>
           </div>
         </div>
       </div>
      </li>
    </ul>
    <br/>
    <input type="submit" class="button button-big button-fill" value="发布" style="background-color: #007aff;" />
  </form>
</div>

{% endblock %}
