{% extends "base.html" %}
{% block title %}我{% endblock %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">我的主页</div>
  </div>
</div>
  <!-- <div class="right"></div> -->
{% endblock %}

{% block content %}
<div class="list-block white" style="margin: 0 !important;">
  <div class="list-group">
    <ul>
      <li class="item-content">
        <div class="item-media">
          <img class="" src="{{user_info['yb_userhead']}}" style="width:50px;height:50px;border-radius:50%;" />
        </div>
        <div class="item-inner">
          <div class="item-title">{{user_info['yb_usernick']}}</div>
          <div class="item-subtitle">网薪:{{user_info['yb_money']}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="list-group">
    <ul>
      <li class="list-group-title"></li>
      <li>
        <a href="/found/myinfo" class="item-link item-content">
          <div class="item-inner">
              <div class="item-title">我发布的信息</div>
              <!-- <div class="item-after"><i class="fa fa-angle-right"></i></div> -->
          </div>
        </a>
      </li>

    </ul>
  </div>
  <div class="list-group">
    <ul>
      <li class="list-group-title"></li>
      <li>
        <a href="/found/mystar" class="item-link item-content">
          <div class="item-inner">
              <div class="item-title">我收藏的信息</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="list-group">
    <ul>
      <li class="list-group-title"></li>
      <li>
        <a href="#" onclick="window.location.href='/found/feedback'" class="item-link item-content">
          <div class="item-inner">
              <div class="item-title">反馈</div>
          </div>
        </a>
      </li>
    </ul>
  </div>



{% endblock %}
